# Dependencies
node_modules/

# Build output
dist/
out/
build/*.ico
build/*.icns
build/*.png

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local
target/